{% extends 'toolbox/layout.html' %}
{% load static %}

{% block title %}
    Notepad
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'notepad/styles.css'%}">
{% endblock %}
{% block js %}
    <script src="{% static 'notepad/index.js'%}"></script>
{% endblock%}

{% block body %}
    <div class="container-fuild">
        <div class="nav">
            <a href="" class="btn btn-primary">Notes</a>
            <a class="btn btn-primary">+</a>
        </div>
        <div id="notes">
    
        </div>
        <div id="add-new-note">
            <form action="" method="post" enctype="multipart/form-data">
                <label>title</label>
                <br>
                <input type="text" name="title" id="title">
                <br>
                <label>content</label>
                <br>
                <textarea name="content" rows="20" cols="60" id="content"></textarea>
                <br>
                <a class="btn btn-primary" id="add-note-btn">Submit</a>
            </form>
            <hr>
            <a href="https://help.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax">Github Markdown Syntax</a>
        </div>
    </div>
{% endblock %}