{% extends 'toolbox/layout.html' %}
{% load static %}

{% block title %}
    Notepad
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'notepad/styles.css'%}">
{% endblock %}
{% block js %}
    <script src="{% static 'notepad/index.js'%}"></script>
{% endblock%}

{% block body %}
    <div class="container">
        <a href="" class="btn btn-primary">Notes</a>
        <a class="btn btn-primary">+</a>
    </div>
    <div id="notes">

    </div>
    <div id="add-new-note">
        <form action="" method="post" enctype="multipart/form-data">
            <label>title</label>
            <input type="text" name="title">
            <label>content</label>
            <textarea name="content"></textarea>
        </form>
        <hr>
        <a href="https://help.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax">Github Markdown Syntax</a>
    </div>
{% endblock %}