{% extends 'toolbox/layout.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'notepad/styles.css'%}">
{% endblock %}
{% block js %}
    <script src="{% static 'notepad/index.js'%}"></script>
{% endblock%}

{% block body %}
    <div class="container-fuild">
        <div class="nav">
            <a class="btn btn-primary" href="{% url 'notepad:index'%}">&laquo;back</a>
        </div>
    </div>
    <div class="container">
        <div id="note-div">
            <h1 id="note-title">{{ title }}</h1>
            <div id="note-content">
                {{ content|safe }}
            </div>
            <br>
            <p>date : {{ date }}</p>
            <hr>
            <a class="btn btn-primary" id="edit-note" onclick="editNote('{{ id }}')">Edit</a>
            <a href="{% url 'notepad:delete' id %}" class="btn btn-danger" id="delete-note">Delete</a>
        </div>

        <div id="edit-note-div">
            
        </div>
    </div>

{% endblock %}