{% extends 'toolbox/layout.html' %}
{% load static %}

{% block title %}
    Age calculator
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'age_calculator/styles.css'%}">
{% endblock %}
{% block js %}
    <script src="{% static 'age_calculator/index.js'%}"></script>
{% endblock%}

{% block body %}
    <div class="container">
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday">
        <a onclick="ageCalculator()" class="btn btn-primary" id="calculate">Calculate</a>
        <div class="alert alert-light" role="alert" id="message">
        </div>
    </div>
    
{% endblock %}