{% extends 'toolbox/layout.html' %}
{% extends 'toolbox/layout.html' %}
{% load static %}

{% block title %}
    Stop Watch
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'time_tools/styles.css'%}">
{% endblock %}

{% block js %}
    <script src"{% static 'time_tools/index.js'%}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="time">
            <p id="minutes">0:</p><p id="seconds">0:</p><p id="milliseconds">0</p>
        </div>
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="reset">Reset</button>
    </div> 
{% endblock %}