.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    border-radius: 5px;
    margin-top: 180px;
    padding: 20px;
    box-shadow: #3a3032 0px 50px 100px -20px, #fe0036 0px 30px 60px -30px, #fe0036 0px -2px 6px 0px inset;
    color: #fe0036;
}