{% extends 'toolbox/layout.html' %}
{% load static %}

{% block title %}
    Age calculator
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'date_tools/styles.css'%}">
{% endblock %}
{% block js %}
    <script src="{% static 'date_tools/index.js'%}"></script>
{% endblock%}

{% block body %}
    <div class="container">
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday">
        <br>
        <a onclick="ageCalculator()" class="btn btn-primary" id="calculate">Calculate</a>
        <br>
        <div class="alert alert-light" role="alert" id="message">
        </div>
    </div>
{% endblock %}